<div class="product-card carousel-cell">
		<div class="card-info">
		    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
		    <p class="price">{{ product.price | money_without_trailing_zeros }}</p>
	    
		    {% unless product.available %} 
		   <p><em>Sold out</em></p>
		    {% endunless %}
	    </div>

	    <div class="card-img">
		    <a href="{{ product.url | within: collection }}">
		      <img src="{{ product.featured_image.src | img_url: 'x700' }}" alt="{{ product.featured_image.alt | escape }}">
		    </a>
	    </div>
 </div>