{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<section id="page-product">


    <div class="product-images prod-carousel">

      {% for image in product.images %}
      <div class="carousel-cell">
         <img src="{{ image.src | img_url: 'x600' }}" alt="{{ image.alt | escape }}">
       </div>
      {% endfor %}
    </div>

    <div class="product-info grid two-columns">

        <div class="product-details">
          <h2>{{ product.title }}</h2>
          <h2>{{ product.vendor }}</h2>
          <h2>{{ product.metafields.accentuate.publication_date }}</h2>
          <h2>{{ product.type }} / {{product.metafields.specs.dimensions}} / {{product.metafields.specs.page_count}} pp</h2>
          <h2> ISBN {{ product.variants.first.barcode}} </h2>
          <h2>{{ product.price | money_without_trailing_zeros }}</h2>
          
          {% include 'add-to-cart-form' %}
        </div>

        <div class="product-description">
          <p >
            {{ product.description }}
          </p>
      </div>

    </div>

    {% section 'product-recommendations' %}

</section>